#root {
  /* text-align: center; */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.App-main {
  background-color: #282c34;
  width: 100vw;
  /* max-width: 1280px; */
  margin: 0 auto;
  flex: 1;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: scroll;
}


/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
